<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for visiting our site, <%= @user.name %>!</h1>
    <p>Here is the project that you requested:</p>
  </body>
</html>