<div class="profile-user-info section">
	<h2><%= @user.full_name %></h2>
  <% if current_user.id != params[:id].to_i %>
	  <a href="#new-conversation" rel="conversationModal">Message this person</a>
	<% end %>

  <div class="user-image">
    <%= image_tag(@user.avatar) %>
  </div>
</div>

<%= render "new_conversation_modal" %>
