<% @user_projects.each do |proj| %>
    <li><h4><strong><%= proj.project.title %> </strong></h4>
      <% if !proj.project.images.empty? %>
      <%= image_tag("#{proj.project.images.first.original_url}", width: '300px') %>
      <% end %>
      <%=link_to(image_tag("/svg/heart213#{proj.favourited ? "_hover.png" : ".svg"}"), favourited_path(proj), method: "post") %>
      <%=link_to(image_tag("/svg/#{proj.completed ? "checkmark4" : "delete38"}.svg"), completed_path(proj), method: "post") %>
    </li>
<% end %>




