<div class = "large-4 columns section">
  <div>
    <% @user_projects.each do |project| %>
      <h4><strong><%= project.project.title %> </strong></h4>
      <h5><%= project.project.description %></h5>
    <% end %>
</div>
</div>