<div class="section">

	<h1>Inbox</h1>
	<h3>Messages:</h3>
	<table>
		<thead>
			<tr>
				<td>Read</td>
				<td>From</td>
				<td>Subject</td>
				<td>Date</td>	
			</tr>
		</thead>
		<tbody>
			<% @conversations.each do |conv| %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
					
			<% end %>	
		</tbody>
	
	</table>
</div>