<div class="section">
	<div class = "row">
		<div class="large-1 columns">
			<h1>Inbox</h1>
		</div>
		<div class="large-9 column no-collapse">

		</div>
		<div class="large-2 columns no-collapse">
		</div>
	</div>

	<div class="row">
		<div class="large-2 column no-collapse">
		</div>
		<div class="large-2 column no-collapse">
		</div>
		<div class="large-5 column">
			<h3>Subject</h3>
		</div>
		<div class="large-3 column">
			<h3>Date</h3>
		</div>
	</div>

	<% @conversations.each do |conv| %>
		<%= render partial: "conversation", locals: {conv: conv} %>
		<%= render partial: "messages", locals: {conv: conv} %>
	<% end %>	
</div>
