<div class="section">

	<h1>Inbox</h1>
	<h3>Messages:</h3>
	<div class="row">
		<div class="large-2 column">
			<p>Read</p>
		</div>
		<div class="large-2 column">
			<p>From</p>
		</div>
		<div class="large-5 column">
			<p>Subject</p>
		</div>
		<div class="large-3 column">
			<p>Date</p>
		</div>
	</div>

	<% @conversations.each do |conv| %>

		<%= render partial: "conversation", collection: @conversations, locals: {conv: conv} %>

		<%= render partial: "messages", collection: @conversations, locals: {conv: conv} %>

	<% end %>	
</div>

