<h2>Hank Homesteader</h2>
<div>
  <h3>Profile Picture</h3>
</div>
  <h3>Projects:</h3>
<div>
   <%= render 'users/projects' %>
</div>
<div>
   <%= render 'users/projects' %>
</div>
<div>
   <%= render 'users/projects' %>
</div>
<div>
  <h3>Sections that show up from hovering over a project's icons</h3>
</div>