<%= render 'users/info' %>
<h3>Projects:</h3>
  <%= render 'users/projects' %>

<div class="row">
  <div class="large-12 columns">
  <h3>User Comments:</h3>
  <%= render 'users/comments' %>
  </div>
</div>
