<%= render 'users/info' %>
<h3>Projects:</h3>
  <%= render 'users/projects' %>
<div class="row">
  <div class="large-12 columns">
   <h3>Comments:</h3>
    <%= render 'users/comments' %>
  </div>
</div>
