
<% if current_user %> 
  <%= image_tag(current_user.avatar, width: '50px') %>
  <p>
    <a href="#" class = 'username'><%= current_user.first_name %> <%= current_user.last_name %></a><br />
      <a href="#">My projects</a> | 
    <%= link_to "Log out", logout_path, method: "delete" %>
  </p>
<% else %> 
          <!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
  <a href ="/auth/facebook" class = 'button radius'>Login with Facebook</a>
    <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button> -->
<% end %>


