<% @popular.each do |pop| %>
  <div class="category" data-equalizer-watch>
    <img src = "http://placekitten.com/g/370/150" />
    <h4><%= link_to pop.name, category_path(pop) %></h4>
    <p><%= pop.description %></p>
  </div>
<% end %> 