<div class = 'carousel' data-slick> 
  <div>
    <%= image_tag("project_gallery/wheatgrass-5_carousel.jpg") %>
  </div>>
  <div>
    <%= image_tag("project_gallery/sprouts-3_carousel.jpg") %>
  </div>
  <div>
    <%= image_tag("project_gallery/mozzarella-5_carousel.jpg") %>
  </div>
</div>