<div class="section">
	<div class="row">
		<div class="large-4 columns">
			<h1>Homesteader's Emporium</h1>
			

		</div>
		<div class="large 8 columns">
			 <div id="map"></div>
			
		</div>


	</div>
  <script>

  // initialize the map
	 var map = L.map('map').setView([49.264676, -123.049826], 12);
	 var marker = L.marker([49.264676, -123.049826]).addTo(map);


		L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		    maxZoom: 19,
		}).addTo(map);


  </script>


</div>
