
<div class="row">
  <div class="large-12 columns carousel-wrapper" >
    <%= render 'pages/showcased' %>
  </div>
</div>
<h4 class='popular-head'>Popular projects</h4>
<div class="row data-equalizer">
  <div class="large-12 columns text-center popular-holder">
     <%= render 'pages/popular' %>
  </div>
     <%= render 'users/email' %>
</div>
<div class="row">
  <div class = 'categories'>
    <h4>All Categories:</h4>
    <% @categories.in_groups(3, false) do |group| %>
      <div class="large-4 columns">
        <ul>
          <% group.each do |category| %>
            <li><%= link_to category.name, category_path(category) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
