<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
</head>
<body>
  <div class = "row">
    <div class = "large-12 columns section" >
      <%= render 'pages/showcased' %>
    </div>
  </div>
  <div class = "row">
    <div class = "large-4 columns section">
       <%= render 'pages/popular' %>
    </div>
    <div class = "large-4 columns section">
       <%= render 'pages/popular' %>
    </div>
    <div class = "large-4 columns section">
       <%= render 'pages/popular' %>
    </div>
  </div>
  <div class = "row section">
    <h4>All Categories:</h4>
     <div class="categories large-4 columns">
       <ul>
          <li>stuff</li>
          <li>stuff</li>
          <li>stuff</li>
        </ul>
      </div>
      <div class="categories large-4 columns">
        <ul>
          <li>stuff</li>
          <li>stuff</li>
          <li>stuff</li>
        </ul>
      </div>
      <div class="categories large-4 columns">
        <ul>
          <li>stuff</li>
          <li>stuff</li>
          <li>stuff</li>
        </ul>
     </div>
    </div>
  </body>
</html>
