<div class="large-4 columns">
	<% if current_user %>
		<%= link_to('javascript:null', :id => "total-comments", :title => "Comment on this project.") do %>
			<img src="/svg/chat34.svg" width="32px" data-width="200">
		<% end %>
	<% else %>		
		<img src="/svg/chat34.svg" width="32px" data-width="200" id="cant-comment" title="Sign in to comment.">
	<% end %>
</div>