<div class="large-4 columns">
	<%= link_to('javascript:null', :id => "total-comments") do %>
		<img src="/svg/chat34.svg" width="32px" data-width="200">
	<% end %>
</div>
<div class="tooltip" title="This is my div's tooltip message!"> 
    This div has a tooltip when you hover over it!
</div>