<div class = 'section'>
	<h2>Instructions</h2>
	<table>
		<% @project.steps.each do |step| %>
			<tr>
				<td><h5><%= step.ordinal %>. </h5></td>
				<td><h5><%= step.content %></h5></td>
			</tr>
		<% end %>
	</table>
</div>