<div class = 'section'>
	<h2>Instructions</h2>
	<table id="steps-table">
		<% @project.steps.each do |step| %>
			<tr>
				<td><h5><%= step.ordinal %>. </h5></td>
				<td><h5><%= step.content %>
		  		<span class="count-icon">
		  		<%= link_to(image_tag("comment-icon.png", :alt => "Instruction comments", :width => 30, :height => 30, :title => "Instruction comments"), "javascript:void(0)", "data-step-id" => step.id, "data-comments" => step.comments.to_json) %>
				    <span class="count"><%= step.comments.length %></span>
					</span>
				</h5></td>
			</tr>
		<% end %>
	</table>
</div>
