	<input type="checkbox" id="select-all"><p>Select all available items</p></input> 
	<button id="submit-to-cart">Add to cart</button>
	<p><small>Powered by <a href="http://www.homesteadersemporium.ca" target="_blank">Homesteader's Emporium</a></small></p>