	<input type="checkbox" id="select-all">Select all available items</input> 
	<button id="submit-to-cart" class="radius">Add to cart</button>
	<p><small>Powered by <a href="http://www.homesteadersemporium.ca" target="_blank">Homesteader's Emporium</a></small></p>