	<input type="checkbox" id="select-all">Select all available items</input> </br>
	<button id="submit-to-cart">Add to cart</button>
	<p>Powered by <a href="http://www.homesteadersemporium.ca" target="_blank">Homesteader's Emporium</a></p>