<div class = 'section'>

  <h2>Supplies</h2>
  <h4>Ingredients</h4>
  <div class='clearfix'></div>
	<%= render "supplies_ingredients" %>
	<h4>Equipment</h4>
  <div class='clearfix'></div>
	<%= render "supplies_equipment" %>  	
	<%= render "shopping_cart" %>
</div>
