
<div class = 'video section'>
  <div id = "video-wrapper section">
    <iframe id="ytplayer" type="text/html" width="640" height="480"
    src="<%= @project.video.url %>"
    frameborder="0"/>
  </div>
</div>
