<<<<<<< HEAD
<h1>Video</h1>
    <%= @project.video %>
=======

<div class = 'video section'>
  <div id = "video-wrapper section">
    <iframe id="ytplayer" type="text/html" width="640" height="480"
    src="<%= @project.video.url %>"
    frameborder="0"/>
  </div>
</div>
>>>>>>> f11bb594c51a79c69b9d45fe27186af8f5b1d359
