<div class=empty>
<%if @projects.empty?%>
  <br>
  <h4>There are no related projects at this time</h4>
</div>
<%else%>
  <% @projects.each do |project|%>
  	<h4><%= link_to project.title, project_path(project.id) %></h4>
  	<h5><%= project.description %></h5>
  	</br>
  <%end%>
<% end %> 
   
  
