/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 
 */

$primary-color: #B2230A;
$secondary-color: #F2AA0E;

h1, h2, h3 {
  color: $primary-color;
}

nav {
  height: 100px;
  width: 100%;
  border: 1px black dotted;
  color: $primary-color;
}

.top-bar {
  height: 100px;
}

.user-panel {
  background-color: none;
  width: 15rem;
  margin: 1rem;
  border-radius: .5rem;
  height: 4rem;
}
.user-panel a {
  color: white;
}

.user-panel button {
  margin: auto;
}

.section {
  border: 1px $primary-color dotted;
  padding: 1em;
}

.video-section {
  

}

.search-box {
  width: 20em;
  
  form {
    display: inline-block;
  }
  input {
    display: inline-block;
  }

}


#user-timeline {
  background-color: pink;
  width: 640px;
  height: 32px;
  margin-bottom: 10px;
  position: relative;
}

.user-avatar {
  width: 32px;
  height: 32px;
  background-color: blue;
  display: inline-block;
  position: absolute;
}

.user-avatar:hover {
  width: 40px;
  height: 40px;
  margin-left: -4px;
  margin-top: -4px;
}

.user-avatar-flyout {
  width: 400px;
  height: 40px;
  opacity: .7;
  background-color: black;
}

/* Foundation overrides */
.custom-row {
  max-width: 1000rem;
}