/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require rs-default
 *= require leaflet
 *= require_self
 
 */

$primary-color: #B2230A;
$secondary-color: #F2AA0E;
$tertiary-color: #EDBA3E;
$dark-gray-color: #462F2F;
$font-stack-head: 'Architects Daughter', cursive;
$font-stack-copy: 'Arvo', serif;
$radius: 3px;
$module-background-color: #DDD;
$box-link-hover: #D1920B;

body {
  font-family: $font-stack-copy;
}

h1, h2, h3, h4 {
  color: $primary-color;
  font-family: $font-stack-head;
  margin: .4em;  
  margin-left: 0
}

.hand-drawn {
  display:block;
  border:none;
  height:10px;
  background-image: image-url("hr-drawn.png");
  background-repeat: no-repeat;
}

.section {
/*  border: 1px $primary-color dotted; */
  padding: 1em;
}

a {
  color: $secondary-color;
}

input:focus {
  box-shadow: 0 0 5px $tertiary-color;
  border: 1px solid $tertiary-color;
}

textarea:focus {
  box-shadow: 0 0 5px $secondary-color;
  border: 1px solid $secondary-color;
}

nav {
  height: 100px;
  width: 100%;
  border: 1px black dotted;
  color: $primary-color;
}

.top-bar {
  height: 80px;
  background-color: $dark-gray-color;
}

.top-bar .name {
  margin-top: 5px;
}

.top-bar-section ul {
  font-size: 1em;
}

.top-bar-section ul li {
  float: left;
  padding-top: 20px;
  font-size: 1em;
  background-color: $dark-gray-color;
}

.top-bar .name {
  margin-top: 5px;
}

.top-bar-section ul {
  font-size: 1em;
}

.top-bar-section ul li {
  float: left;
  padding-top: 20px;
  font-size: 1em;
}

.user-panel {
  width: 20rem;
  margin: 8px;
  height: 62px;
  padding: 5px;
}

/*.user-panel logged-in {
  background-color: #222;
  border: 1px solid #555;
  border-radius: .5rem;
}*/

.user-panel img {
  height : 100%;
  max-height: 52px;
  vertical-align: top;
  margin: 0;
}

a:hover {
  border-color: $box-link-hover;
}

.avatar {
  border: 1px solid $secondary-color;
}

.inbox-icon {
  margin-top: 8px;
}

.user-panel button {
  margin: auto;
}

.user-panel p {
  margin: -5px 0 0 5px;
  line-height: 2;
  color : white;
  display: inline-block;

}
.user-panel a {
  margin: 0px 5px;
}

/*img #inbox-image {
  border: none;
  margin-top: 10px;
}*/

.search-box {
  width: 250px;
  margin: 25px 20px 0 0;
} 

.project-details {
  background-image: image-url('drawn-box.png');
  background-size: 100% 100%;
  padding: 2.5rem;
}

.project-module {
  padding: 1rem;
  border-radius: $radius;
  background-color: $module-background-color;
}

.row.supply {
  margin-bottom: 0px;
  padding-bottom: 2px;
}


#video-timeline {
  background-image: image-url("timeline.png");
  background-repeat: no-repeat;
  margin-bottom: 1em;
  width: 720px;
  height: 32px;
  margin-bottom: 10px;
  position: relative;
}

.video-comment-avatar {
  width: 32px;
  height: 32px;
  border: 1px solid #888;
  background-color: blue;
  display: inline-block;
  position: absolute;
  top: 0;
  transition: .3s;
}

.video-comment-avatar:hover {
  width: 50px;
  height: 50px;
  margin-left: -8px;
  margin-top: -8px;
  border: 1px solid #888;
  z-index: 10;
}

.video-comment-flybelow {
  width: 720px;
  height: 40px;
  background-color: #666;
  border: 1px solid #888;
  position: relative;
  top: 35px;
  color: white;
  font-size: .75em;
  z-index: 9;
  padding: .75em;
}

.comments {
  width: 720px;
}

.commentable-type-checkbox-project {
  display: none;
}

#video-checkbox {
  margin: 2rem;
}

.video-comment-actions {
  margin-right: 1rem;
  display: inline-block;
}

.video-time-text {
  display: inline-block;
}

.video-comment-text {
  display: inline-block;
}

.commentable-type-checkbox-video {
  display: inline-block;
  outline: 3px $secondary-color;
}

#player {
  height: 350px;
  background: #DDD
}

.carousel-wrapper {
  padding: 0;
}

.carousel {
  max-height: 300px;
  width: 1500px;
}

.carousel-project {
  position: absolute;
  right: 60px;
  top: 240px;
  background-color: $secondary-color;
  opacity: .8;
  padding: 1em;
  font-size: 1.5em;
  text-align: left;
  color: white;
}

.carousel-project:hover {
  background-color: $box-link-hover;
}

.carousel-blurb {
  position: absolute;
  top: 50px;
  left: 0;
  margin-left: 0;
  padding: .5em;
  background: $dark-gray-color;
  opacity: .9;
}

.carousel-blurb p {
  opacity: 1;
  color: white;
  font-size: 2em;
  padding: .5em 1em 0 .5em;
}


.carousel img {

}

.category img {
  transform:rotate(-3deg);
}

.category {
  width: 400px;
  display: inline-block;
  margin: 1em;
  padding: 2rem;
  vertical-align: top;
  background-image: image-url('drawn-box.png');
  background-size: 100% 100%;
  transform: rotate(-3deg);
  /*border: 1px solid $primary-color;*/
}

.category:nth-child(even) {
  transform: rotate(3deg);
}

.category:nth-child(3) {
  transform: rotate(-5deg);;
}

.category h4 {
  margin-top: 1em;
  margin-left: .5em;
  float: none
}

.category p {
  margin-left: .5em;
  text-align: left;
}

.categories {
  display: inline-block;
  margin: 20px 50px;
  padding: 1em;
  font-size: 2em;
  width: 100%;
  background-color: white;
  background-image: image-url('drawn-box.png');
  background-size: 100% 100%;

}

.popular-header {
  opacity: 1;
  z-index: 10000;
}

.project-image-thumb {
  width: 200px;
  max-height: 140px;
}

.project-image-thumb:hover {
  outline: $secondary-color, 3px, solid;
}

.project-result {
  padding: 1em;
}

.project-result h4 {
  float:none;
}

.pagination {
  // .previous_page { background:#7777ff; color:white }
  // .previous_page.disabled { background: white; color: #777 }
  // .current { background: yellow }
  // .next_page { background: #7777ff; color: white }
  // .next_page.disabled { background: white; color: #777 }
}

.count-icon {
    display: inline-block;
    position: relative;
}

.step-count, .equip-count, .ing-count {
    position: absolute;
    top: 2px;
    right: 4px;

    height: 16px;
    width: 16px;

    border-radius: 8px;

    font-size: 12px;    
    text-align: center;
}

.select-all-text {
  margin-left: 3em;
}

/* Foundation overrides */

.top-bar-section {
  margin-left: 20px;
}

.title-area {
  width : 435px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: $font-stack-copy;
  font-size: 1em;
  background-color: $dark-gray-color;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: $secondary-color;
  background: $secondary-color; }

.email_container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.email {
  width: 300px;
  margin: 300px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: white;

}

.no-collapse {
  min-height: 1px;
}

li { background: '#000000'; }
li:nth-child(2n+3) { background: '#666666'; }

body {
  padding-top: 65px; // make room for fixed navigation bar
}

.stick {
    position:fixed;
    top:90px;
    bottom:30px;
    width: 54.5% ;
    overflow-y:scroll;
    overflow-x:hidden;
}
.section-header {
  display: inline-block;
  width: 100%;
}

.section-header h3, h4 {
  float: left;
}

#icon-position, #icon-position-image {
  display: inline-block;
  margin-top: .7em;
  float: left;
}

#icon-position-image {
  right: 51%;
}

.individual-comment {
  display: inline-block;
  width: 100%;
}

.individual-comment img {
  float: left;
  display: inline-block;
}

.individual-comment-content p {
  display: block;
  margin-left: 5.5em;
  margin-top: .5em;
  line-height: 1;
}

.individual-comment .timestamp {
  color: #CCC;
}

hr {
  margin: .5em;
}

.comment-button {
  margin-top: 1em;
}

.comment-button:hover {
  box-shadow: 0 0 5px $secondary-color;
  border: 1px solid $secondary-color;
}

.button:focus {
  box-shadow: 0 0 5px $secondary-color;
  border: 1px solid $secondary-color;
  outline: 0;
}

.clearfix {
  clear: both;
}

#footer {
  height: 30px;
}

// social media button customization
.social-share-button-facebook, .social-share-button-twitter, .social-share-button-google_plus, .social-share-button-google_bookmark, .social-share-button-tumbler, .social-share-button-pinterest {
  background: url("/social-icons/facebook.png");
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:40px;
  height:40px;
  bottom:0;
  right:0;
}

.social-share-button-twitter {
  background: url("/social-icons/twitter.png");
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:40px;
  height:40px;
  bottom:0;
  right:0;
}

.social-share-button-google_plus {
  background: url("/social-icons/googleplus.png");
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:40px;
  height:40px;
  bottom:0;
  right:0;
}

.social-share-button-tumblr {
  background: url("/social-icons/tumbler.png");
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:40px;
  height:40px;
  bottom:0;
  right:0;
}

.social-share-button-pinterest {
  background: url("/social-icons/pinterest.png");
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:40px;
  height:40px;
  bottom:0;
  right:0;
}

.social-share-button-email {
  background: url("/social-icons/email.png");
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:40px;
  height:40px;
  bottom:0;
  right:0;
  float: left;
}

/////////////////////////////////////
// gallery css

.royalSlider {
  width: 100%;
  // height: 300px;
}

.rsABlock {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  background-color: "#777777";
}

.openBoxButton {
  width: 100%;
}

  .sliderContainer,
  .sliderInLightbox {
    width: 100%; 
    // height: 400px; 
    // max-width: 100%; 
    margin: 0 auto;
  }
  .sliderContainer {
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  }
  @media screen and (max-width: 760px) {
    .sliderContainer,
    .sliderInLightbox {
      // height: 300px;
    }
  }

  ////////////
  // toggle styling

  #favourited-true {
    background: url('/svg/heart213_hover.png');
    background-repeat: no-repeat;
    background-size: 32px, 32px;
    width: 32px;
    height: 32px;
  }

  #favourited-false {
    background: url('/svg/heart213.svg');
    background-repeat: no-repeat;
    background-size: 32px, 32px;
    width: 32px;
    height: 32px;
  }

  #favourited-false:hover {
    background: url('/svg/heart213_hover.png');
    background-size: 32px, 32px;
    background-repeat: no-repeat;
  }


  #completed-true {
    background: url('/svg/checkmark_hover.png');
    background-repeat: no-repeat;
    background-size: 32px, 32px;
    width: 32px;
    height: 32px;
  }

  #completed-false {
    background: url('/svg/checkmark4.png');
    background-repeat: no-repeat;
    background-size: 32px, 32px;
    width: 32px;
    height: 32px;
  }

  #completed-false:hover {
    background: url('/svg/checkmark_hover.png');
    background-size: 32px, 32px;
    background-repeat: no-repeat;
  }

  #map-container {
     height: 400px;
     border-radius: 16px 16px;
     border-color: #fff;
     border-style: solid;
     box-shadow: 2px 2px 10px #B1B1B1;
     margin-top: 25px;
     border-width: 7px;
   }

 #map {
  width: 300px;
  height: 300px;
 }

//tooltip

.has-tip {
  border-bottom: dotted 1px #CCCCCC;
  color: #333333;
  cursor: help;
  font-weight: bold; }
  .has-tip:hover, .has-tip:focus {
    border-bottom: dotted 1px #6d4d06;
    color: #f2aa0e; }
  .has-tip.tip-left, .has-tip.tip-right {
    float: none !important; }

.tooltip {
  background: #333333;
  color: #FFFFFF;
  display: none;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.3;
  max-width: 300px;
  padding: 0.75rem;
  position: absolute;
  width: 100%;
  z-index: 1006;
  left: 50%; }
  .tooltip > .nub {
    border-color: transparent transparent #333333 transparent;
    border: solid 5px;
    display: block;
    height: 0;
    pointer-events: none;
    position: absolute;
    top: -10px;
    width: 0;
    left: 5px; }
    .tooltip > .nub.rtl {
      left: auto;
      right: 5px; }
  .tooltip.radius {
    border-radius: 8px; }
  .tooltip.round {
    border-radius: 1000px; }
    .tooltip.round > .nub {
      left: 2rem; }
  .tooltip.opened {
    border-bottom: dotted 1px #6d4d06 !important;
    color: #f2aa0e !important; }

.tap-to-close {
  color: #777777;
  display: block;
  font-size: 0.625rem;
  font-weight: normal; }

@media only screen and (min-width: 40.0625em) {
  .tooltip > .nub {
    border-color: transparent transparent #333333 transparent;
    top: -10px; }
  .tooltip.tip-top > .nub {
    border-color: #333333 transparent transparent transparent;
    bottom: -10px;
    top: auto; }
  .tooltip.tip-left, .tooltip.tip-right {
    float: none !important; }
  .tooltip.tip-left > .nub {
    border-color: transparent transparent transparent #333333;
    left: auto;
    margin-top: -5px;
    right: -10px;
    top: 50%; }
  .tooltip.tip-right > .nub {
    border-color: transparent #333333 transparent transparent;
    left: -10px;
    margin-top: -5px;
    right: auto;
    top: 50%; } }
  
  .messages {
    // padding: 50px;
    // margin:20px;
    width: 100%;
  }
//modal styling
  #lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
  }
  #modal-container {
    padding: 20px;
    background: #ffffff;
    width: 400px;
    height: 150px;
  }
  #modal-container-conv {
    padding: 20px;
    background: #ffffff;
    width: 400px;
    height: 300px;
  }

.project-heart, .project-checked, .project-comments { 
  display:inline;
}

.user-image {
  margin-left: 50px;
}

.project-heart, .project-comments img {
  height: 40px;
  width: 40px;
}

.project-checked img {
  height: 35px;
  width: 35px;
}

.row {
  padding-bottom: 10px;
}

#new-conversation-comment {
  width: 300px;
  height: 400px;
  background-color: white;
  padding: 25px;
}

#current-user-name {
  position: relative;
  top: 6px;
}

.center-inbox-text {
  line-height: 4
}
.center-inbox-img {
  top: 5px;
}
.large-inbox-margin {
  margin-left: 200px;
  margin-right: 200px;
}
.alternating-color {
  padding-top:15px;
  padding-bottom:0px;
}

/* Draw border */

.drawbox {
  position:relative;
  float:left;
  width:200px;
  height:100px;
  background-color:#fff;
  padding:25px;
  
  /*
 -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);*/
}

.draw:after {
  border: 0.1em solid transparent;
  border-image: url('http://emptyeasel.com/wp-content/uploads/2012/11/creatingtexture2-carrielewis.jpg') 0 27 27 27 round stretch;
  
  /*border-radius: 0.25em 0.10em 0.5em 0.25em;*/
  transform: rotate(-1deg);
  content: '';
  top:0px;
  left:0px;
  position:absolute;
  width:100%;
  height:100%;
  
}
.draw:before {
  border-top: 0.1em solid transparent;
  border-image: url('http://emptyeasel.com/wp-content/uploads/2012/11/creatingtexture2-carrielewis.jpg') 27 0 0 0 stretch round;
  /*border-radius: 1.5em;*/
  content: '';
  height: 3em;
  left: 0;
  top: 0;
  transform: rotate(-1deg);
  width:100%;
  position:absolute;
}

.align-right {
  text-align: right;
  position: relative;
}

#inbox-title {
  font-size: 40px;
  font-style: bold;
}

#message-title {
  font-size: 20px;
  font-style: bold;
}
.project-image img {
  max-height: 200px;
}

.project-title h1 {
  color: black;
  margin-left: 50px;
}
