<% @categories.each do |category|%>
  <div class="category">
    <%= link_to image_tag("timeline.png"), category_path(category) %>
    <h4><%= link_to category.name, category_path(category) %></h4>
    <p><%= category.description %></p>
  </div>
<% end %> 