<div class = 'search-box right'>
    <%= form_tag(projects_path, method: "get") do %>
    <%= text_field_tag :title, params[:title], class: "span2", placeholder: "Search by Project Title" %>
    <!-- TODO: handle consecutive words that don't match exactly to project title< -->
    <%= submit_tag("Search") %>
</div>
<% end %>


